* {
    box-sizing: border-box;
}
   
body {
    background-color: rgb(85, 149, 201);
    color: rgb(241, 238, 233); 
    font-family: 'Work Sans', sans-serif;
    text-align: center; 
}

.title h1{
    display: block;
    height: 100px; 
    margin-right: auto; 
    margin-left: auto;
    margin-top: 30px; 
    font-family: 'Indie Flower', cursive;
    text-align: center;
    font-size: 75px;
    color: rgb(241, 238, 233); 
}

.home-button{
    width: 100px; 
    height: 50px; 
    margin-bottom: 10px; 
    position:absolute;
    right: 10px; 
    top: 10px; 
    float: right; 
    background-color:rgb(57, 93, 122);;  
    font-family: 'Work Sans', sans-serif;
    font-size: 15px;
    color: rgb(241, 238, 233); 
    border-radius: 5px;
    border: none; 
}

.login-button{
    width: 100px; 
    height: 50px; 
    margin-bottom: 10px; 
    position:absolute;
    right: 120px; 
    top: 10px; 
    float: right; 
    background-color:rgb(57, 93, 122);;  
    font-family: 'Work Sans', sans-serif;
    font-size: 15px;
    color: rgb(241, 238, 233); 
    border-radius: 5px;
    border: none; 
}

.signout-button{
    width: 100px; 
    height: 50px; 
    margin-bottom: 10px; 
    position:absolute;
    right: 120px; 
    top: 10px; 
    float: right; 
    background-color:rgb(57, 93, 122);;  
    font-family: 'Work Sans', sans-serif;
    font-size: 15px;
    color: rgb(241, 238, 233); 
    border-radius: 5px;
    border: none; 
}
.instructions{
    display: block; 
    font-size: 15px; 
    font-family: 'Work Sans', sans-serif; 
    margin-top: 50px; 
}

.signup{
    display: inline-block; 
    width: 375px;
    height: 400px; 
    padding: 30px; 
    background-color:rgb(212, 229, 243); 
    border-radius:5px; 
}

.signup h1{
    font-family: 'Work Sans', sans-serif;
    text-align: center;
    size: 20px;
    color: rgb(57, 93, 122); 
}

#email-label{
    font-family: 'Work Sans', sans-serif;
    float: left;
    size: 25px;
    color: rgb(57, 93, 122);  
    margin: 10px;   
}

#pass-label{
    font-family: 'Work Sans', sans-serif;
    float: left;
    size: 25px;
    color: rgb(57, 93, 122);  
    margin:10px; 
     
}

.signup button{
    width: 80px; 
    height: 65px; 
    text-align: center;
    background-color:rgb(57, 93, 122);  
    font-family: 'Work Sans', sans-serif;
    font-size: 20px;
    color: rgb(241, 238, 233); 
    border-radius: 5px;
    border: none;
}

fieldset{
      border: none;
      
}
.signup input{ 
    width: 275px; 
    position:relative;
    margin-left: 5px;
    margin-top: 5px;
    float: center;   
    height: 40px;   
    font-family: 'Work Sans', sans-serif;
    font-size: 20px;
    border-radius: 5px; 
    border: none; 
    background-color: white; 
}
  
.signup button{
    width: 150px; 
    height: 50px; 
    margin-top: 30px; 
    text-align: center;
    background-color:rgb(57, 93, 122);  
    font-family: 'Work Sans', sans-serif;
    font-size: 15px;
    color: rgb(241, 238, 233); 
    border-radius: 5px;
    border: none;
}

#get-start, #login{
    width: 150px; 
    height: 100px; 
    position:relative;
    margin-left: 10px;
    margin-right: 10px; 
    margin-top: 15px;
    float: center; 
    background-color:rgb(57, 93, 122);;  
    font-family: 'Work Sans', sans-serif;
    font-size: 20px;
    color: rgb(241, 238, 233); 
    border-radius: 5px;
    border: none; 
}

#results-list {
    font-size: 15px; 
}

#results-list{
    text-align: center; 
}

.dog-db h2 {
    font-size: 30px; 
    padding-top: 30px; 
}
.dog-stats-element {
    display: inline-block;
    color: rgb(195, 223, 236); 
    background-color: whitesmoke;
    text-align: center;
    font-size: 10px;
    border: 5px solid;
    margin: 10px; 
    padding: 5px;    
}

.dog-stats-element p{
    color: black; 
    font-size: 10px; 
}

.dog-stats-element h3{
    color: black; 
    font-size: 20px;  
}

img.center {
    display: center; 

}

.dog-db-addition{
    text-align: center;  
    font-size: 15px;
}

.dog-db-update{
    font-size: 15px;
}

.dog-db-deletion { 
    font-size: 15px; 
}

.dog-db-deletion button {
    width: 100px; 
    background-color:rgb(79, 110, 134);  
    height: 25px;   
    font-family: 'Work Sans', sans-serif;
    font-size: 10px;
    color: rgb(241, 238, 233); 
    border-radius: 5px; 
    border: none; 
}

.dog-db-addition button {
    width: 100px; 
    background-color:rgb(79, 110, 134);  
    height: 25px;   
    font-family: 'Work Sans', sans-serif;
    font-size: 10px;
    color: rgb(241, 238, 233); 
    border-radius: 5px; 
    border: none;  
}

.dog-db-update button {
    width: 100px; 
    background-color:rgb(79, 110, 134);  
    height: 25px;   
    font-family: 'Work Sans', sans-serif;
    font-size: 10px;
    color: rgb(241, 238, 233); 
    border-radius: 5px; 
    border: none;  
}

.dog-input-container{
    display: inline-block; 
    width: 350px;
    height: 650px; 
    padding: 30px; 
    background-color:rgb(212, 229, 243); 
    border-radius:5px; 
}
.dog-input-container h1{
    font-family: 'Work Sans', sans-serif;
    text-align: center;
    size: 20px;
    color: rgb(57, 93, 122);    
}
.dog-input-container h3{
    font-family: 'Work Sans', sans-serif;
    text-align: left;
    size: 10px;
    color: rgb(57, 93, 122);    
}

#input-dog-sex{
    width: 275px; 
    position:relative;
    margin-left: 5px;
    margin-top: 5px;
    margin-bottom: 5px; 
    float: left;   
    height: 40px;   
    font-family: 'Work Sans', sans-serif;
    font-size: 20px;
    border-radius: 5px; 
    border: none; 
}

#input-dog-age{
    width: 275px; 
    position:relative;
    margin-left: 5px;
    margin-top: 5px;
    float: center;   
    height: 40px;   
    font-family: 'Work Sans', sans-serif;
    font-size: 20px;
    border-radius: 5px; 
    border: none; 
    background-color: white; 
}

#input-dog-age input {
    float: center; 
}

#input-dog-breed{
    width: 275px; 
    position:relative;
    margin-left: 5px;
    margin-top: 5px;
    float: center;   
    height: 40px;   
    font-family: 'Work Sans', sans-serif;
    font-size: 20px;
    border-radius: 5px; 
    border: none;
    background-color: white; 
}

#input-dog-name{
    width: 275px; 
    position:relative;
    margin-left: 5px;
    margin-top: 5px;
    float: center;   
    height: 40px;   
    font-family: 'Work Sans', sans-serif;
    font-size: 20px;
    border-radius: 5px; 
    border: none;
    background-color: white; 
}


.dog-input-container button{
    width: 150px; 
    height: 50px; 
    margin-top: 10px; 
    text-align: center;
    background-color:rgb(57, 93, 122);  
    font-family: 'Work Sans', sans-serif;
    font-size: 15px;
    color: rgb(241, 238, 233); 
    border-radius: 5px;
    border: none;
}

.dog-input-container input{ 
    display: block;
    width: 200px;  
    height: 50px; 
    margin-right: auto;
    margin-left: auto;  
    margin-top:10px;
    margin-bottom:5px;
    font-family: 'Work Sans', sans-serif;
    font-size: 10px; 
    background-color:white; 
}

.error {
    color: red;
}

.title-login {
    font-family: 'Work Sans', sans-serif;
    font-size: 20px;
}

#input-dog-image {
    width: 275px; 
    position:relative;
    margin-left: 5px;
    margin-top: 10px;
    padding: 10px; 
    float: left;   
    height: 40px;   
    font-family: 'Work Sans', sans-serif;
    font-size: 20px;
    border-radius: 5px; 
    border: none;
}

.footer h3{
    font-size: 8px; 
}

.footer{
    font-size: 8px; 
    position: fixed;
    opacity: 50%; 
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgb(124, 174, 216);
    color: white;
    text-align: center;
}